.App {
  text-align: center;
  height: 100%;
}

.btn {
  padding: 10px;
  font-size: 16px;
  background-color: #0088a9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  font-family: "Poppins", sans-serif;
}

.btn:hover {
  transform: scale(1.1);
  transition: all 0.2s;
}

.hidden {
  display: none;
}

@media screen and (max-width: 600px) {
  .btn {
    font-size: 14px;
    padding: 5px;
  }
}
