@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  position: relative;
}

html,
body {
  height: 100%;
  position: relative;
  font-family: "Poppins", sans-serif;
}

#root {
  height: 100%;
}
